/.env
/.idea
/vendor
.DS_Store
.cache
.project
.settings
*.esproj
*.sublime-worksapce
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/taskss.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config
node_modules
/storage/*
/web/dist/*